<div class="about_header text-center container">
    <h1>About Page</h1>
    <p>We are DevMatch. Our company focuses on creating an exclusive community
    for developers and entrepreneurs to meet.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, modi, harum a pariatur eos ullam eius minus culpa labore dolore enim sequi! Accusantium dolor ad recusandae sunt dicta eum explicabo?
    </p>
</div>