
<div class="home-callout text-center container-fluid"> <!--text-center is a bootstrap command, container-fluid gets rid of the margin-->
    <h1>Welcome to DevMatch</h1>
    <h3>A membership site where entrepreneurs can meet developers</h3>
</div>